# 9 - Pandas Dataframe - Pivot Table


* En este Notebook vamos a ver la operación de ***Pivot Table***:

    9. Pivot Table


* Para más información ver el siguiente enlace:
    - https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html


## Funciones para el Análisis Exploratorio de Datos - Parte IV


* Veamos a continuación un ejemplo, usando los datos del fichero *'goleadores.csv'*:

    
### Importamos la librería de Pandas:

In [1]:
import pandas as pd

### Pasamos los datos del Fichero a un DataFrame:


* Fichero ***goleadores.csv***: Es un fichero de texto plano con formato CSV.

In [2]:
df_goleadores = pd.read_csv('./data/ejemplo_EDA/goleadores.csv', header=0)
df_goleadores

   TEMPORADA      FUTBOLISTA  GOLES
0      16/17           Messi     37
1      16/17     Luis Suárez     29
2      16/17       Cristiano     25
3      16/17           Aspas     19
4      16/17          Aduriz     16
5      16/17       Griezmann     16
6      16/17          Morata     15
7      17/18           Messi     34
8      17/18       Cristiano     26
9      17/18     Luis Suárez     25
10     17/18           Aspas     22
11     17/18          Stuani     21
12     17/18       Griezmann     19
13     17/18      Maxi Gómez     17
14     18/19           Messi     36
15     18/19     Luis Suárez     21
16     18/19         Benzema     21
17     18/19           Aspas     20
18     18/19          Stuani     19
19     18/19      Ben Yedder     18
20     18/19  Borja Iglesias     17
21     18/19       Griezmann     15

<hr>


## 9. Pivot Tables


* Esta operación ***permite poner ciertas columnas en filas y ciertas filas en columnas***.


* La ***sintaxis*** de esta operación sería:


```python
df.pivot(index='nombre_columna_a_fila', columns='nombre_columna_a_columna', values='nombre_columna_a_valores')
```


* En esencia es una operación que permite crear una *'matriz de valores'* a partir de una *'tabla'*.


* Esta operación de ***pivot table*** es muy utilizada en las hojas de cálculo Excel y similares.


* Veamos a continuación un ejemplo, en el que tenemos un DataFrame con los 7 máximos goleadores de 3 temporadas. Dado que es un DataFrame '*muy largo'*, podemos aplicar la función pivot table para ver esta misma información más compacta y legible en forma de Matriz.

In [3]:
df_goleadores.pivot(index='TEMPORADA', columns='FUTBOLISTA', values='GOLES')

FUTBOLISTA,Aduriz,Aspas,Ben Yedder,Benzema,Borja Iglesias,Cristiano,Griezmann,Luis Suárez,Maxi Gómez,Messi,Morata,Stuani
TEMPORADA,,,,,,,,,,,,
16/17,16.0,19.0,NaN,NaN,NaN,25.0,16.0,29.0,NaN,37.0,15.0,NaN
17/18,NaN,22.0,NaN,NaN,NaN,26.0,19.0,25.0,17.0,34.0,NaN,21.0
18/19,NaN,20.0,18.0,21.0,17.0,NaN,15.0,21.0,NaN,36.0,NaN,19.0

<hr>

*Este Notebook ha sido desarrollado por **Ricardo Moya García** y registrado en Safe Creative como ***Atribución-NoComercial-CompartirIgual***.*

<img src="./imgs/CC_BY-NC-SA.png" alt="CC BY-NC">